* {
  --top-spacing: 128px;
}

.characterEditor {
  padding-top: var(--top-spacing);
  padding-bottom: 64px;
  width: inherit;
}

.maxWidthWrapper {
  padding: 0 64px;
  margin-left: 0px;
}

.header {
  padding-bottom: 64px;
  width: 65%;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  min-height: 500px;
  width: 35%;
  position: fixed;
  right: 5%;
  top: var(--top-spacing);
}

.controlColumn {
  width: 50%;
}
